HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class file
*.class

typings
jspm_packages
bower_components
app/**/*.js
app/**/*.map

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/desafiojfo-ui/node_modules

#dist
/desafiojfo-ui/dist

# profiling files
/desafiojfo-ui/chrome-profiler-events*.json
/desafiojfo-ui/speed-measure-plugin*.json

# IDE - VSCode
/desafiojfo-ui/.vscode/*
/desafiojfo-ui/!.vscode/settings.json
/desafiojfo-ui/!.vscode/tasks.json
/desafiojfo-ui/!.vscode/launch.json
/desafiojfo-ui/!.vscode/extensions.json
/desafiojfo-ui/.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
