<div class="container" style="max-width: 400px; margin: auto;">

  <form autocomplete="off" #loginForm="ngForm">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Login</h1>
      </div>
      <div class="p-col-12">

        <input pInputText type="text" id="login" name="login" placeholder="Login"
          ngModel required #login>
      </div>

      <div class="p-col-12">
        <input pPassword type="password" id="senha" name="senha" ngModel
          required #senha/>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Entrar" [disabled]="loginForm.invalid"
          (click)="autenticar(login.value, senha.value)"></button>
      </div>
    </div>
  </form>
</div>
